streamlit
llama-index
chromadb
accelerate
beautifulsoup4
huggingface-hub
ipykernel
unstructured
pysqlite3-binary
pypdf
google-generativeai
transformers
sentence_transformers
python-dotenv
langchain
PyPDF2
pdf2image
faiss-cpu
langchain_google_genai
pillow


